@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  font-family: 'Exo 2', sans-serif;
  margin: 20px 0;
}